@import "config";

.flow-form {
  background-color: $color--white;
  width: 400px;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -200px;
}

.flow-form__input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  margin-bottom: 40px;
  font-size: 40px;
  outline: none;
}
